*.pyc
all_user_repos
logs/bettercommit.conf
logs/bettercommit.log*
logs/bettercommit.state
template/bettercommit/current
template/bettercommit/head_sha.txt
template/bettercommit/version.txt
template/hooks/applypatch-msg
template/hooks/pre-applypatch
template/hooks/post-applypatch
template/hooks/pre-commit
template/hooks/prepare-commit-msg
template/hooks/post-commit
template/hooks/pre-rebase
template/hooks/post-checkout
template/hooks/post-merge
template/hooks/pre-push
template/hooks/pre-receive
template/hooks/update
template/hooks/post-receive
template/hooks/post-update
template/hooks/pre-auto-gc
template/hooks/post-rewrite
